/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    background-color: black;
    /* background-color: black; */
    /* background-image:url('../assets/basketball.jpg');
    background-repeat: no-repeat;
    inset: 0;
    width: 100%;
    height: 100%;

    z-index: 0; */

}

@keyframes custom-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Create utility classes for different spin speeds */
  .animate-spin-slow {
    animation: custom-spin 4s linear infinite; /* Adjust the duration as needed */
  }
  
  .animate-spin-medium {
    animation: custom-spin 2s linear infinite; /* Adjust the duration as needed */
  }